#app {
  position: absolute;
  top: 10px;
  left: 10px;
}

#search-history {
  display: flex;
}
#search-history::before {
  content: '최근 검색 :';
  margin-top: 7px;
}

.history-span {
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid #efefef;
}

.result-div {
  width: 90vw;
  display: block;
  padding: 4px;
  margin: 5px 0px;
  border: 1px solid #efefef;
}

.result-img {
  width: 50vw;
}

.result-span {
  display: table;
  padding: 3px;
  margin: 3px 5px;
  border: 1px solid #efefef;
}
